.cabecalho__link {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
}

.card__button {
    background: #A51519;
    color: #ffffff;
    padding: 8px 30px;
}

.card__button-footer {
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 8px 40px;
}

.footer li {
    list-style: none;
    padding: 10px 20px;
}